/*Paleta de colores*/
$light-color: #FFFFFF; /*Modo Oscuro*/
$light-back-color: #F3F5F8;
$dark-color: #000000;
$dark-back-color: #37383C; /*Modo Oscuro*/
$darker-back-color: #222326; /*Modo Oscuro*/
$main-color: #572EE5;
$secondary-color: #5ED7C6;
$grey-text-color: #6B7989;
$grey-btn-color: #9CAFC3;
$footer-links-color: #CDD6E0;

/*Fuentes*/
$main-font: 'Roboto', sans-serif;
$title-font: 'Montserrat', sans-serif;

/*Tamaños*/


/*Utilidades*/
$margin-center: 0 auto;